DATABASE_URL=postgresql:
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GEMINI_API_KEY=
USE_S3=True

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
#For S3-compatible services (MinIO, DigitalOcean Spaces, etc.):
AWS_S3_REGION_NAME=us-east-2
AWS_S3_ENDPOINT_URL=
# AWS_S3_CUSTOM_DOMAIN=


#Security settings
AWS_S3_SECURE_URLS=True
AWS_DEFAULT_ACL=public-read 