* {
    box-sizing: border-box;
}
.logInContainer {
    max-width: 800px;
    margin: 3rem auto;
    text-align: center;
}

.logInTitle {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 24px;
}

.logInBox {
    background-color: #fff;
    border: 12px;
    padding: 32px;
    box-shadow: 20px 20px 12px rgba(162,89,230,0.08);
    border-radius: 20px;
}

.logInInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.logInButton {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, var(--rk-purple), var(--rk-blue), var(--rk-pink));
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: none;
}